

/* removes the scroller*/
*::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
/* end removes scroller */

.carousel-container {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */

    display: flex;
    /* height: clamp(30vh, 88vh, 430px); */
    width: '500px' ;
    /* height : '300px'; */
    /* margin: 8px auto; */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    /* background-color: red; */
    border-radius: 12px;
  }

.carousel-element {
    cursor: pointer;
    position: relative;
    flex: 0 0 100%;
    background-size: 780px 100%;
    background-repeat: no-repeat;
    /* border: 1px solid rgba(164, 32, 32, 0.25); */
    /* border-radius: 4px; */
    /* padding: 0 10px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
  }
  .carousel-snapper {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scroll-snap-align: center;
  }  




  
  @media (hover: hover) {
    .carousel-snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  
    .weather-template:last-child .carousel-snapper {
      animation-name: tostart, snap;
    }
  }
  
  /* carousel animation reference article: https://css-tricks.com/css-only-carousel/ */
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    0% {
        left: 0;
      }
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  @media (hover: hover) {
    .carousel-container {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel-element:last-child .carousel-snapper{
      animation-name: tostart, snap;
    }
  }